body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #ecf0f1;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #5F9EA0;
    color: #fff;
    padding: 20px 0;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #34495e;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px);
}

section h2 {
    color: #333;
    margin-bottom: 20px;
}

footer {
    background: #5F9EA0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    clear: both;
}


#about img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #333;
    margin-top: 20px;
}

#about,
#resume,
#interests {
    text-align: center;
}


#resume ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
}

#resume li {
    text-align: left;
    margin-bottom: 10px;
}


.button {
    background-color: #bdc3c7;
}


.title {
    color: #34495e;
}

.subtitle {
    color: #37495cbb;
}


.button {
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #8FDBE6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#about p,
#interests p {
    text-align: left;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    #resume ul li {
        width: auto;
    }

    .container {
        padding: 0 10px;
    }

    section {
        width: calc(100% - 20px);
        margin: 10px auto;
        padding: 15px;
    }
}
